<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>Page not supported</title>
  </head>
  <body>
    <section class="banner">
      <div class="container">
        <img
          src="../images/not supported/page not supported@2x.png"
          alt="page not supported"
        />
        <h1>Your Internet Explorer is no longer supported.</h1>
        <p>
          Outdated browsers can expose your computer to security risks.
        </p>
        <p>
          To get the best experience using our site, you’ll need to upgrade to a
          safer browser.
        </p>
      </div>
    </section>
    <section class="page-support">
      <div class="container">
        <h3>We support</h3>
        <div class="search-engine-list">
          <div class="each-search-engine">
            <img
              src="../images/chrome/Chrome browser@2x.png"
              alt="chrome logo"
            />
            <h4>Chrome</h4>
          </div>
          <div class="each-search-engine">
            <img src="../images/safari/compass@2x.png" alt="safari logo" />
            <h4>Safari</h4>
          </div>
          <div class="each-search-engine">
            <img src="../images/firefox/firefox@2x.png" alt="firefox logo" />
            <h4>Mozilla Firefox</h4>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
